doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Make Divs Disappear
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    h1 Get Forecast By Zip
    button#addZip Add Zip
    input(type="text" id="textbox")
    select#list
    button#getWeather Get Weather
    #container
