doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/normalize.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    button#button1 First Buttton
    #container

