@import url(http://fonts.googleapis.com/css?family=Audiowide);
.box{
  height: 111px;
  width: 145px;
  background-size: contain;
  float: left;
  margin: 20px;
  padding: 5px;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.label{
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#clear{
  background-color: tomato;
  clear: both;
}

body{
  background: lightblue;
}

div{
  color: white;
}

h1{
  font-family:'audiowide' bold;
  text-align: center;
  
}
